#animation_img_Box {
    height: calc(100vh - 70px);
    width: 100vw;
}

    #sliding_img {
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .img {
            height: 50vh;
            width: 100%;
            margin: 0 5vw;
        }

        #image1 {
            background-image: url(./IMG/About_Me1.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            animation-name: sliding_img_1;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        #image2 {
            background-image: url(./IMG/About_Me2.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }

        #image3 {
            background-image: url(./IMG/About_Me3.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }

        #image4 {
            background-image: url();
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }

#contents_Box {
    height: 150vh;
    width: 100vw;
    font-family: 'Nanum Gothic', sans-serif;
}

    #keyword_Box {
        height: 50vh;
        width: 100vw;
    }

        .My_hobby_keyword {
            font-size: 30px;
            font-weight: 700;
        }

            #coding {
                top: 30vh;
                left: 80vw;
                /* width: 40px; */
            }

            #body_training {
                top: 10vh;
                left: 10vw;
                /* width: 190px; */
            }

            #launchpad {
                top: 35vh;
                left: 25vw;
                /* width: 40px; */
            }

    #Text_Box {
        height: 100vh;
        width: 100vw;
    }


/* scroll trigger*/

[data-trigger] {
    opacity: 0;
    position: relative;
    top: 10px;
    transition: .5s ease-in;
}

[data-trigger].visible {
    opacity: 1;
    top: 0;
}

/* Animation */

@keyframes sliding_img_1 {

}

@keyframes sliding_img_2 {
    
}

@keyframes sliding_img_3 {
    
}