body {
    margin: 0;
}

header {
    margin-top: 23px;
    margin-bottom: 22px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

    #Mtext {
        font-size: 28px;
        line-height: 50px;
        margin-left: 100px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #Subtexts {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Subtext {
        color: black;
        font-size: 15px;
        margin: 10px 13px;
    }

    #Button {
        border: rgb(214, 214, 214) solid 1px;
        width: 164px;
        height: 32px;
        text-align: center;
        margin: auto 0;
        margin-top: 2.5px;
        margin-right: 100px;
        line-height: 32px;
        color: gray;
        font-size: 13px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #Button:hover {
        background-color: skyblue;
    }

    #Movie {
        position: relative;
        left: 0;
        width: 100%;
        height: 550px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
        iframe {
            position: relative;
            left: 0;
            width: 140%;
            height: 140%;
            left: -300px;
            top: -50px;

        }


section {
    margin-top: 60px;
    text-align: center;
}

    #Btext {
        color: black;
        font-size: 27px;
    }

        #Stext1 {
            color: gray;
            margin-top: 20px;
            text-align: center;
            font-size: 15px;
        }

        #Stext2 {
            color: gray;
            font-size: 15px;
            margin-top: 5px;
    }

    #Bbox {
        width: 1020px;
        height: 220px;
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        flex-direction: row;
    }

        #Sbox1 {
            background-color: gray;
            width: 340px;
            height: 220px;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        #Sbox2 {
            background-color: black;
            width: 340px;
            height: 220px;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        #Sbox3 {
            background-color: gray;
            width: 340px;
            height: 220px;
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        .boxText {
            color: white;
            margin-top: 30px;
            margin-left: 20px;
            font-size: 17px;
        }

        .boxtext {
            margin-top: 5px;
            margin-left: 20px;
            color: white;
            font-size: 15px;
        }

        .info {
            margin-top: 70px;
            margin-left: 20px;
            font-size: 12px;
            color: white;
        }
    
    #Notice {
        width: 1010px;
        height: 275px;
        margin: 0 auto;
        margin-top: 60px;
    }

        .textboxs {
            height: 42px;
            width: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: gray 1px solid;
        }

        .Ftext {
            color: gray;
            font-size: 15px;
            line-height: 42px;
            margin-right: 5px;
        }

        .Stext {
            color: black;
            font-size: 15px;
            line-height: 42px;
        }

        .Ttext {
            color: gray;
            font-size: 13px;
            line-height: 42px;
            margin-left: auto;
            margin-right: 0;
        }

        #Gbox {
            background-color: rgb(247, 247, 247);
            width: 100%;
            height: 400px;
            margin-top: 47px;
        }

            #Txt {
                color: black;
                font-size: 27px;
                position: relative;
                top: 75px;
            }

            #txt {
                color: rgb(114, 114, 114);
                font-size: 15px;
                position: relative;
                top: 85px;
            }

            #post {
                color: rgb(114, 114, 114);
                font-size: 15px;
                position: relative;
                top: 205px;
            }
footer {
    background-color: gray;
    width: 100%;
    height: 425px;
}
    #Foottext {
        height: 240px;
        margin-left: 120px;
        margin-right: 120px;
        position: relative;
        top: 40px;
        display: flex;
        flex-direction: row;
        border-bottom: white solid 1px;
    }

    .Ftxt {
        height: 240px;
        width: 174px;
    }

    .foottext {
        color: white;
        font-size: 15px;
        margin-bottom: 27px;
    }

    .foottxt {
        color: white;
        font-size: 12.5px;
        margin-bottom: 8px;
    }

    #icon {
        height: 20px;
        width: 120px;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
    }

        #facebook {
            color: white;
            margin-right: 42px;
            font-size: 14px;
            line-height: 20px;

        }

        #youtube {
            color: white;
            margin-right: 42px;
            font-size: 13px;
            line-height: 20px;
        }

        #instagram {
            color: white;
            margin-right: 42px;
            font-size: 16px;
            line-height: 20px;
        }

    #lasttext {
        color: white;
        text-align: center;
        margin-top: 38px;
        font-size: 11.3px;
    }