div {
    width: 1000px;
    height: 1000px;
    font-size: 60px;
    background-color: yellowgreen;
    background-image: url(./스크린샷\ 2021-05-18\ 오전\ 10.27.50.png);
    background-repeat: no-repeat;
    background-position: 10%/*왼쪽으로 부터*/ 100%/*위쪽으로부터*/;
    background-size: 10%/*가로*/ 10%/*세로*/;
    /*한 번에 넣을 수 있음*/
    background : yellowgreen url(./스크린샷\ 2021-05-18\ 오전\ 10.27.50.png) no-repeat 10% 100% / 10% 10%
}