footer {
    background-color: #333333;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

    #personal_info {
        color: white;
        text-align: center;
    }

    #icon {
        color: white;
        margin-top: 5vh;
    }

        .fab {
            font-size: 20px;
            margin: 10px 5px;
        }