/* Reset */

body,ul,li,section{
    padding: 0;
    margin: 0;
}

/* NAME */

#section1 {
    height: calc(100vh - 160px);
    width: 100vw;
    position: fixed;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
}

    #name {
        margin: auto;
        font-size: 100px;
        font-weight: bolder;
        height: 1.2em;
        line-height: 1.2em;
        overflow: hidden;
    }

        .name_ul {
            margin-top: 0;
            animation-name: Textrolling;
            animation-duration: 3.5s;
            animation-iteration-count: infinite;
            animation-direction: reverse;
        }

        .name_txt {
            list-style-type: none;
        }

.white_Box {
    height: 100vh;
    width: 100vw;
}
    
#Bar {
    background-color: black;
    width: 100vw;
    height: 40vh;
}

#section2 {
    background-color: white;
    height: 100vh;
    width: 100vw;
}


/* Animation */

@keyframes Textrolling{
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-33%);
    }

    50% {
        transform: translateY(-33%);
    }

    75% {
        transform: translateY(-66%);
    }

    100% {
        transform: translateY(-66%);
    }
}