/* Reset */

body {
    margin: 0;
}


#contents_Box {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

    #Text_Box {
        font-size: 10em;
        display: flex;
        width: 4.6em;
    }

        #sliding_Box {
            width: 0;
            height: 1.5em;
            background-color: white;
            animation-name: sliding;
            animation-duration: 4s;
            animation-fill-mode: forwards;
        }

        #kimchan {
            position: absolute;
            color: black;
        }

/* Media query */
@media (min-width: 1600px) {
    #Text_Box {
        font-size: 12em;
    }
}

@media (max-width: 1024px) {
    #Text_Box {
        font-size: 8em;
    }
}

@media (max-width: 768px) {
    #Text_Box {
        font-size: 6em;
    }
}

@media (max-width: 480px) {
    #Text_Box {
        font-size: 4em;
    }
}

/* Animation */

@keyframes sliding{
    0% {
        width: 0;
    }

    20% {
        width: 15%;
    }

    40% {
        width: 20%;
    }

    60% {
        width: 38%;
    }

    100% {
        width: 100%;
    }
}