/* Header */
@media (max-width: 768px) {
    .headerMenu_Box {
        margin: 0 5vw;
    }
}

.fa-bars {
    z-index: 10;
}


#contents_BBox {
    display: flex;
}

#project_Box {
    width: 50vw;
}

    .contents_Box {
        margin: 180px 0 0 180px;
        width: 30vw;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Noto Sans JP', sans-serif;
    }

        .Btext {
            font-size: 20px;
            height: 1.5em;
            width: 10em;
            border-left: solid black 2px;
            text-align: center;
            line-height: 1.5em;
            margin-top: 8em;
            margin-right: 0;
        }

        .Stext {
            text-align: center;
            margin: 5em auto;
        }

            .span_sliding1 {
                background-color: gray;
                opacity: 80%;
                width: 0;
            }

    .project_info {
        position: fixed;
        right: 0;
        bottom: 15vh;
        width: 50vw;
        height: 70vh;
        font-size: 30px;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Noto Sans JP', sans-serif;
    }

        .project_Name {
            font-size: 30px;
        }

        .project_info_img {
            box-shadow: gray 10px 10px 10px;
        }
            .project_info_img:hover {
                cursor: pointer;
                opacity: 100%;
                animation-name: img_opacity_change;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

        #single_M3 {
            display: block;
        }
            #image1 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/single1.png);
                margin-top: 5vh;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #single_M4 {
            display: none;
        }
            #image2 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/single2.png);
                margin-top: 5vh;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center 30%;
                filter: grayscale(100%);
            }

        #subject_M3 {
            display: none;
        }
            #image3 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/subject1.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #subject_M4 {
            display: none;
        }
            #image4 {
                height: 60vh;
                width: 35vw;
                margin-top: 5vh;
                background-image: url(./IMG/subject2.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #team_M3 {
            display: none;
        }
            #image5 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/team1.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #team_M4 {
            display: none;
        }
            #image6 {
                height: 60vh;
                width: 35vw;
                margin-top: 5vh;
                background-image: url(./IMG/team2.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #team_M1M2 {
            display: none;
        }
            #image7 {
                height: 60vh;
                width: 35vw;
                margin-top: 5vh;
                background-image: url(./IMG/team3.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #alpha_M {
            display: none;
        }
            #image8 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/alpha1.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }

        #alpha_C {
            display: none;
        }
            #image9 {
                height: 60vh;
                width: 35vw;
                background-image: url(./IMG/alpha2.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                filter: grayscale(100%);
            }
/* Media query */

@media (max-width: 1024px) {
    .project_Name {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    #project_info_Box {
        display: none;
    }
}
        
@media (max-width: 480px) {

}

/* Animation */
@keyframes img_opacity_change {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

