#img_Box {
    background-image: url(./IMG/team3_info.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.headerMenu {
    border-right: white solid 1px;
}

.menus {
    color: white;
}

@media (max-width: 768px) {
    .fa-bars {
        color: white;
    }

    .menus {
        color: white;
    }

    .headerMenu {
        border-right: none;
    }
}