/* .Stext:hover ~ .slidingpage{
    width: 100px;
    transition: 1s;
}

.slidingpage {
    background-color: black;
    width: 0;
    height: 100%;
} */

#contents_BBox {
    display: flex;
}

#project_Box {
    width: 50vw;
}

    .contents_Box {
        margin: 180px 0 0 180px;
        width: 30vw;
        font-family: 'Nanum Gothic', sans-serif;
        font-family: 'Noto Sans JP', sans-serif;
    }

        .Btext {
            font-size: 20px;
            height: 1.5em;
            width: 10em;
            border-left: solid black 2px;
            text-align: center;
            line-height: 1.5em;
            margin-top: 8em;
            margin-right: 0;
        }

        .Stext {
            text-align: center;
            margin: 5em auto;
        }

    .project_info {
        position: fixed;
        right: 0;
        bottom: 15vh;
        width: 50vw;
        height: 70vh;
        font-size: 30px;
    }

        #single_M3 {
            display: none;
        }
            #image1 {
                background-image: url();
            }

        #single_M4 {
            display: none;
        }
            #image2 {
                background-image: url();
            }

        #subject_M3 {
            display: none;
        }
            #image3 {
                background-image: url();
            }

        #subject_M4 {
            display: none;
        }
            #image4 {
                background-image: url();
            }

        #team_M3 {
            display: none;
        }
            #image5 {
                background-image: url();
            }

        #team_M4 {
            display: none;
        }
            #image6 {
                background-image: url();
            }

        #team_M1M2 {
            display: none;
        }
            #image7 {
                background-image: url();
            }

        #alpha_M {
            display: none;
        }
            #image8 {
                background-image: url();
            }

        #alpha_C {
            display: none;
        }
            #image9 {
                background-image: url();
            }

