#img_Box {
    background-image: url(./IMG/alpha1_info.png);
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

    .menus {
        color: white;
    }
}

@media (max-width: 480px) {
    #img_Box {
        background-position: 20% center;
    }
}