#img_Box {
    background-image: url(./IMG/subject1_info.png);
    background-position: center 70%;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .fa-bars {
        color: black;
    }
}