#img_Box {
    background-image: url(./IMG/alpha1_info.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {

    .menus {
        color: white;
    }
}